:root{
    --green: green;
    --orange: orange;
    --beige: blanchedalmond;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:var(--green);
    padding:1rem;
    margin: 2rem 0;
    background: var(--beige);
}

/*.heading span{
    color: var(--orange);
}*/



section .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--orange);
    color:var(--green);
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

section .btn:hover{
    background:yellow;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: bisque;
    padding: 2rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem green;
}

header .logo{
    padding-right:300px;
    font-size: 2.5rem;
    color: green;
    font-weight: bolder;
}

header .img{
    padding-left: 0px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
}

header .navbar a{
    margin:0;
    font-weight: bolder;
    color:var(--green);
    font-size: 2rem;
    padding-left: 70px;
    
}

header .navbar a:hover{
    color: var(--orange);
}

header .icons a{
    font-size: 2.5rem;
    color: green;
    padding-right: 50px;
    /*margin-left: 1.5rem;*/
}

header .icons a:hover{
    color: var(--orange);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:var(--green);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid green;
    display: none;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    section .home{
        background-position: left;
    }

    section .home1{
        background-position: left;
    }

    section .home2{
        background-position: left;
    }

    section .home3{
        background-position: left;
    }

    section .home4{
        background-position: left;
    }
}

@media (max-width:768px){
    html .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: bisque;
        border-top: .1rem solid green;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5 rem;
        background: bisque;
        border: .1rem solid green;
        display: block;
    }

    section .home .content h3{
        font-size: 4rem;
    }

    section .home .content span{
        font-size: 1.5rem;
    }

    section .home .content p{
        font-size: 0.75rem;
    }

    section .home1 .content h3{
        font-size: 4rem;
    }

    section .home1 .content span{
        font-size: 1.5rem;
    }

    section .home1 .content p{
        font-size: 0.75rem;
    }

    section .home2 .content h3{
        font-size: 4rem;
    }

    section .home2 .content span{
        font-size: 1.5rem;
    }

    section .home2 .content p{
        font-size: 0.75rem;
    }

    section .home3 .content h3{
        font-size: 4rem;
    }

    section .home3 .content span{
        font-size: 1.5rem;
    }

    section .home3 .content p{
        font-size: 0.75rem;
    }

    section .home4 .content h3{
        font-size: 4rem;
    }

    section .home4 .content span{
        font-size: 1.5rem;
    }

    section .home4 .content p{
        font-size: 0.75rem;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    /*background: url(logo.png) no-repeat;*/
    background-color: white;
    background-size: cover;
    background-position: center;
}

.home .content h3{
    font-size: 5rem;
    color:var(--green);
}

.home .content span{
    font-size: 2.5rem;
    color:var(--orange);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:var(--green);
    padding:1rem 0;
    line-height: 1.5;
}

.home1{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: blanchedalmond;
    background-size: cover;
    background-position: center;
}

.home1 .content h3{
    font-size: 5rem;
    color:var(--green);
}

.home1 .content span{
    font-size: 2.5rem;
    color:var(--orange);
    padding:1rem 0;
    line-height: 1.5;
}

.home1 .content p{
    font-size: 1.5rem;
    color:var(--green);
    padding:1rem 0;
    line-height: 1.5;
}

.home2{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.home2 .content h3{
    font-size: 5rem;
    color:var(--green);
}

.home2 .content span{
    font-size: 2.5rem;
    color:var(--orange);
    padding:1rem 0;
    line-height: 1.5;
}

.home2 .content p{
    font-size: 1.5rem;
    color:var(--green);
    padding:1rem 0;
    line-height: 1.5;
}

.home3{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: blanchedalmond;
    background-size: cover;
    background-position: center;
}

.home3 .content h3{
    font-size: 5rem;
    color:var(--green);
}

.home3 .content span{
    font-size: 2.5rem;
    color:var(--orange);
    padding:1rem 0;
    line-height: 1.5;
}

.home3 .content p{
    font-size: 1.5rem;
    color:var(--green);
    padding:1rem 0;
    line-height: 1.5;
}

.home4{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.home4 .content h3{
    font-size: 5rem;
    color:var(--green);
}

.home4 .content span{
    font-size: 2.5rem;
    color:var(--orange);
    padding:1rem 0;
    line-height: 1.5;
}

.home4 .content p{
    font-size: 1.5rem;
    color:var(--green);
    padding:1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container img{
    width: 100%;
    border: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem var(--green);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:85%; transform: translateY(-50%);
    font-size: 3rem;
    color:black;
    background: var(--orange);
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:var(--green);
}

.about .row .content p{
    font-size: 1.5rem;
    color:var(--orange);
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    /*box-shadow: 0 .5rem 1.5rem black;*/
    border-radius: .5rem;
    border: .1rem solid orange;
    position: relative;
}

.products .box-container .box .sconti{
    position: absolute;
    top: 1rem;left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--orange);
    background: var(--green);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 25rem;
}


.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;left: 0;right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--beige);
    color: var(--green);
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid  #fff7;
    width: 100%;
}

.products .box-container .box .image .icons a:hover{
    background: orange;
}

.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--green);
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(--orange);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: var(--orange);
    font-weight: lighter;
    text-decoration: line-through;
}
