:root{
    --green: green;
    --orange: orange;
    --beige: blanchedalmond;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color:var(--green);
  padding:1rem;
  margin: 2rem 0;
  background: var(--beige);
}

section .btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: var(--orange);
  color:var(--green);
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

section .btn:hover{
  background:yellow;
}

  /**
  * ! Shop items styles are here
  **/

  
  .shop {
    display: grid;
    font-family: sans-serif;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-top: 140px;
  }
  
  @media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  
  .item {
    font-family: sans-serif;
    font-size: 1.5rem;
    border: 2px solid green;
    border-radius: 4px;
  }
  
  .details {
    font-size: 1.5rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  .price-quantity {
    font-size: 1.5rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-right: 20px;
    font-size: 2rem;
  }
  
  .bi-dash-lg {
    font-family: sans-serif;
    color: orange;
  }
  
  .bi-plus-lg {
    font-family: sans-serif;
    color: orange;
  }
  
  /**
  * ! style rules for label and some buttons
  **/
  
  .text-center {
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .HomeBtn,
  .checkout,
  .removeAll {
    font-family: sans-serif;
    background-color: green;
    font-size: 2rem;
    color: orange;
    border: none;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 120px;
  }
  
  .checkout {
    background-color: green;
    font-family: sans-serif;
  
  }
  .removeAll {
    background-color: red;
    font-family: sans-serif;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  /**
  * ! style rules for shopping-cart
  **/

  
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
    font-family: sans-serif;
  }
  
  /**
  * ! style rules for cart-item
  **/
  
  .cart-item {
    font-family: sans-serif;
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
  }
  
  .title-price-x {
    font-family: sans-serif;
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-price {
    font-family: sans-serif;
    background-color: #212529;
    color: green;
    font-size: 1.5rem;
    border-radius: 4px;
    padding: 10px 20px;
  }

/*.products{
    margin-top: 120px;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    /*box-shadow: 0 .5rem 1.5rem black;*/
    /*border-radius: .5rem;
    border: .1rem solid orange;
    position: relative;
}

.products .box-container .box .sconti{
    position: absolute;
    top: 1rem;left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--orange);
    background: var(--green);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 25rem;
}


.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;left: 0;right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--beige);
    color: var(--green);
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid  #fff7;
    width: 100%;
}

.products .box-container .box .image .icons a:hover{
    background: orange;
}

.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--green);
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(--orange);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: var(--orange);
    font-weight: lighter;
    text-decoration: line-through;
}*/